<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Galgeleg spil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>{{data}}</p>
        <form action="" method="post">
        Gæt bogstav<br>
        <input type="text" name="letter" value="">
        <input type="submit" value="Submit">
        </form> 
        <br>
        
         <a href="../Game">Tilbage til spiloversigt</a>
    </body>
   
</html>
