<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Spil liste</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>{{data}}</div>
        
        <form action="" method="post">
        <!--Gæt bogstav<br>-->
        <!--<input type="text" name="letter" value="">-->
        <input type="submit" value="New Game">
        </form>
    </body>
</html>
